<form method="post" action="/post" class="well well-lg" style="text-align:center;height:140px;">
	<div class="col-lg-10" style="margin:-12px;">
		<div class="input-group">
		  <textarea type="text" class="form-control" name="post" rows="5"></textarea>
		  <span class="input-group-btn" style="padding-left:20px;">
				<button class="btn btn-default" type="submit">发言</button>
		  </span>
		</div><!-- /input-group -->
	</div><!-- /.col-lg-10 -->
  <input type="hidden" name="_csrf" value="<%= csrfToken %>"/>
</form>
